// @import 'variables';

.buttons-container {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between
}
button{
  background-color: #3f51b5 ;
  color:  white;
}

.next-button{
  margin-left: auto;
}

button:last-of-type {
  margin-left: auto;
}

// $clr-submitted-fail: #ff4444;
.submit-success{
   background-color:#00bc51;
}

.submit-fail{
  background-color: #ff4444;
}

// button {
//   background-color: #3f51b5;
// }

.mat-button-disabled{
  color: white;
  background-color: #cccccc;
}

.error-fetching-data{
  color: #ff4444;
}

.stepper-text{
text-transform: capitalize;
}





