// @import 'variables';

// button{
//   background-color: #007bff ;
//   color:  white;
// }

// $clr-submitted-fail: #ff4444;
.submit-success{
   background-color:#00bc51;
}

.submit-fail{
  background-color: #ff4444;
}

.mat-button-disabled{
  color: white;
}

