<mat-stepper orientation="vertical">
  <mat-step
    *ngFor="let step of field.fieldGroup; let index = index; let last = last;">
    <div class="stepper-label-container"> <ng-template matStepLabel >{{ step.templateOptions?.label }}
      <div *ngIf="isLoadingFormData$ | async ">loading...</div>

    </ng-template></div>

    <formly-field [field]="step"></formly-field>

    <div>
      <button matStepperPrevious *ngIf="index !== 0" mat-button
        class=""
        type="button">
        Back
      </button>

      <button matStepperNext *ngIf="!last" mat-button
        class="" type="button"

        >
        Next
      </button>

      <button mat-button  *ngIf="last && index > 0" class="submit-success"
        [disabled]="!form.valid ||  formSubmitState.isSubmittingInProgress"
        [ngClass]="{'submit-success': formSubmitState.isSubmitSuccess,
        'submit-fail':    formSubmitState.isSubmitFail}"
        type="submit">
        Submit
      </button>
    </div>
  </mat-step>
</mat-stepper>
