/* You can add global styles to this file, and also import other style files */
// @import 'variables'
// @import "@angular/material/prebuilt-themes/pink-bluegrey.css";
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  // background: grey;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
}

.mat-stepper-horizontal {
  background-color: inherit;
}

.mat-horizontal-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.mat-horizontal-stepper-content {
  width: clamp(30%, 50%, 90%);
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.mat-card {
  // border: 3px solid #3f51b5;
  background:      #42424217;
}

// .mat-step-label {
//   min-width: 0 !important;
// }
